@import "tailwindcss";

:root {
  --background: #f8f3d9;
  --foreground: #171717;
  --primary: #f8f3d9;
  --secondary: #ebe5c2;
  --tertiary: #b9b28a;
  --accent: #504b38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-accent: var(--accent);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-color: var(--background);
  opacity: 0.8;
  background-image: radial-gradient(var(--accent) 0.5px, transparent 0.5px),
    radial-gradient(var(--accent) 0.5px, var(--background) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
