@import "tailwindcss";

:root {
  --background: #f8f3d9;
  --foreground: #171717;
  --primary: #f8f3d9;
  --secondary: #ebe5c2;
  --tertiary: #b9b28a;
  --accent: #504b38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
